*{
    margin: 0px;
    padding: 0px;
}


.header{

    min-height:100vh;
    height: 100%;
    width:100%;
    background-position:center;
    background-size:cover;
    position:relative;
    

}
.header .videos{
   
  width: 100%;
  height: auto;
  top: 0;
    left: 0;
    display: block;
 
  position: absolute;
  
}
nav{
    display:flex;
    padding:2% 6%;
    justify-content:space-between;
    align-items: center;
    z-index:10;

}
nav img{
    width:150px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display:inline-block;
    padding:8px 12px;
    position:relative;

}
.nav-links ul li a {
    color:#fff;
    text-decoration: none;
    font-size:20px;
    font-weight:bold;

}
.nav-links ul li a:hover {
    color: rgb(183, 80, 224);
    

}
.nav-links ul li .active {
    color: rgb(183, 80, 224);
    

}
.nav-links ul li a::after {
    content: '';
    display:block;
    width:0;
    height:2px;
    background: rgb(183, 80, 224);
    transition:width.3s;

}
.nav-links ul li a:hover::after {
    width:100%;
    transition: width.3s;
    

}
.text-box{
    width:90%;
    height: 75%;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    padding: 200px;
    

}
.text-box h1{
    font-size: 140px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation:box 3s;
    
}
@keyframes box{
    0%{
        
        color:rgb(187, 124, 202);
        
    }
    30%{
        
        color:rgb(161, 9, 199);
        
    }
    75%{
        
        color:rgb(187, 124, 202);
        
    }
}

.text-box p{
    margin: 10px 0 40px;
    font-size:14px;
    color:#fff;

}
nav .fa{
    display: none;
}


/*------about-------*/
.about{
    background-color: #aca7a7;
   
}
.about1{
    
    width:80%;
    min-height: 100%;
    margin:auto;
    text-align:center;
    padding-top:100px;
    position:relative;
    background-image:linear-gradient(rgb(216, 217, 219),rgba(222, 222, 223, 0.185)),url('office.jpg') ;
    background-size: cover;
    background-position:top;
      
}

.about-overlay{
    width: 100%;
    height: 100%;
    display :flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    
   


}    



.about1 h1{
    font-size:200px;
    font-weight:600;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.transbox {
    
    background-color: #000000;
    border-top-style: outset;
    border-top-width: 10px;
    border-top-style:rgb(87, 85, 85);
    opacity: 0.8;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    z-index:3;
    
}

.transbox :hover{
    opacity: 1;
    font-size: 25px;
    color: rgb(247, 247, 247);
}
.transbox p{
    color:rgb(0, 0, 0);
    font-size:25px;
    font-weight:300;
    line-height:22px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-align:center;

}




/*------vision and moto-------*/
.visionandmission{
    background-color: #c9c4c4e5;
}
.container{
    min-width: 100%;
    height:100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.container .box
{
    position:relative;
    width:761px;
    height:761px;
    background:rgb(2, 2, 2);
    box-sizing:border-box;
    display: inline-block;

}
.container .box .imgBox
{
   position: relative;
   overflow: hidden;
   
}
.container .box .imgBox img
{
   max-width: 100%;
   transition:transform 5s;
   
}
.container .box:hover .imgBox img
{
  transform:scale(1.3);
}
.container .box .details{
    position:absolute;
    top:10px;
    left:10px;
    bottom:10px;
    right:10px;
    background:rgba(0, 0, 0, 0.8);
    transform: scaleY(0);
    transition: 0.8s;
}
.container .box:hover .details
{
    transform:scaleY(1);
}

.container .box .details .content{
   
    
    margin:50% 20% 10%;
    transform:translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
   
}
.container .box .details .content h2{
    margin-bottom: 40px;
    padding:0;
    font-size:50px;
    color:rgb(184, 73, 212);
}.container .box .details .content p{
    margin:10px 0 0;
    padding:0;
    word-spacing: 2px;
    font-size: 20px;
    
}
/*team*/
.team{
    background-color: #f7f7f7;;
    padding:50px;
    
}
.about123 {
    background: #f7f7f7;;
    padding: 90px 0;
}

.about123 .titlepage {
    text-align: left;
    padding: 0;
    margin-top:300px;
}

.about123 .titlepage h2 {
    color: rgb(184, 73, 212);
    margin-bottom: 30px;
    font-size: 50px;
    text-decoration: underline;
}

.about123 .titlepage p {
    color: #222122;
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    padding-bottom: 50px;
    text-align: justify;
    
}

.about_text {
    padding: 0px 20px 0px 10px;
}

.about_img figure {
    margin: 0;
}

.about_img figure img {
    width: 600px;
    height:600px;
    float:left;
    margin-left: 200px;
    position: relative;
}

/** our section **/

.social {
    background-color: #aca7a7;
    padding: 50px;
    
}
.our {
    background: #aca7a7;
}

.our .titlepage {
    text-align: right;
    padding: 0;
    margin-top:300px;
}

.our .titlepage h2 {
    color: rgba(122, 17, 148, 0.678);
    margin-bottom: 30px;
    font-size: 50px;
    text-decoration: underline rgba(122, 17, 148, 0.678);
}

.our .titlepage p {
    color: #222122;
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    padding-bottom: 50px;
   
}

.our_text {
    padding: 0px 10px 0px 20px;
}

.our_img figure {
    margin: 0;
}

.our_img figure img {
    width: 600px;
    height:600px;
    float:right;
    margin-right: 200px;
    position: relative;
}


/** end our section **/

/* FOOTER */
.footersection{
    box-sizing: border-box;
}

.footer {
    background: #3f3f42ec;
    color: #d3d3d3;
    height: 400px;
    position: relative;
  }
  
  .footer .footer-content {
    height: 350px;
    display: flex;
  }
  
  .footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
  }
  
  .footer .footer-content h1,
  .footer .footer-content h2 {
    color: white;
  }
  
  .footer .footer-content .aboutf h1 span {
    color: #05f7ff;
  }
  
  .footer .footer-content .aboutf .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
  }
  
  .footer .footer-content .aboutf .socials a {
    border: 1px solid white;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
  }
  
  .footer .footer-content .aboutf .socials a:hover {
    border: 1px solid white;
    color: white;
    transition: all .3s;
  }
  
  .footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
    color: #d3d3d3;
  }
  
  .footer .footer-content .links ul a:hover {
    color: white;
    margin-left: 15px;
    transition: all .3s;
  }
  .footer .footer-section .contact-form .containerfooter1{
    
    box-sizing: content-box;
    height: 260px;
    width:250px;
    display:flex;


}
  .footer .footer-section .contact-form .contact-input  {
    background: #272727;
    color: #bebdbd;
    margin:10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    float:left;
    align-items: center;
    border: solid rgb(148, 148, 148);
    position:relative;
  }
  
  .footer .footer-content .footer-section .contact-form .contact-input:focus {
    background: #1a1a1a;
  }
  .footer .footer-content .contact-form .contact-btn {
    float: left;
    font-size: 1.1em;
    font-family: 'Lora', serif;
    margin-left: 10px;
    
  }
  


  
  .footer .footer-bottom {
    background: #343a40;
    color: #ffffff;
    height: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
  }
  a i{
    color:rgb(255, 255, 255)
}





@media(max-width:800px){
    .header
    {
        width: 100%;
        height: 100%;
    }
    .header .videos{
   
        position: fixed;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
       overflow: hidden;
       z-index: -999;
        

        
      }
    .text-box h1{
        font-size: 40px;
    
    }
    
    
    /* textbox */
    .text-box{
        width:50%;
        height: 50%;
        color:#fff;
        position:absolute;
        text-align:center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        
    
    }
    .text-box h1{
       
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        animation:box 3s;
        
    }
    @keyframes box{
        0%{
            
            color:rgb(187, 124, 202);
            
        }
        30%{
            
            color:rgb(161, 9, 199);
            
        }
        75%{
            
            color:rgb(187, 124, 202);
            
        }
    }
    
    .text-box p{
        margin: 10px 0 40px;
        font-size:14px;
        color:#fff;
    
    }
    .transbox p{
        color:rgb(0, 0, 0);
        font-size:25px;
        font-weight:300;
        line-height:22px;
        padding: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 50px;
        margin-right: 50px;
        text-align:center;
    
    }

/*sds*/
    .about{
        border-style: solid;
    }
    .about1{
        width:100%;
        height: 50%;
        margin:auto;
        text-align:center;
        padding-top:100px;
        position:relative;
        background-image:linear-gradient(rgb(216, 217, 219),rgba(222, 222, 223, 0.185)),url('office.jpg') ;
        background-size: cover;
        background-position:top;
        
        
    }
    
    .about-overlay{
        width: 100%;
        height: 100%;
        display :flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: auto;
        
    }    
    .about1 h1{
        font-size:60px;
        font-weight:600;
        font-family: Georgia, 'Times New Roman', Times, serif;
    
    }
    .about1 .transbox p{
        text-align: center;
        font-size: 17px;
        line-height: 1.5em;
        margin: auto;
        padding:auto;
        display: flex;
        min-width: 100%;
        
    
    }
    
    

/* vision and mission*/
    .container{
        min-width: 100%;
        height:100%;
        margin: 70px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .container .box
    {
        position:relative;
        width:100%;
        height:100%;
        background:rgb(156, 156, 141);
        margin:30px;
        box-sizing:border-box;
        display: inline-block;
        text-align: justify;

    }
    .container .box .details .content{
   
        position:absolute;
        /*tukar margin tengah */
        margin:50% 5% 10%;
        transform:translateY(-50%);
        text-align: center;
        padding: 15px;
        color: #fff;
   
    }
    .container .box .details .content h2{
        margin-bottom: 40px;
        padding:0;
        font-size:30px;
       
    }.container .box .details .content p{
        margin:10px 0 0;
        padding:0;
        word-spacing: 2px;
        font-size: 15px;
        
    }


    /*team*/
    .about123 .titlepage {
        text-align: right;
        padding: 0;
        margin-top:50px;
    }
    .about_img figure img {
        width: 100%;
        height: 100%;
        display: flex;
        margin:auto;
        
        
    }

    /*social*/

    .social {
        padding: 50px;
        border:solid;
    }
    .our {
        background: #fff;
    }
    
    .our .titlepage {
        text-align: left;
        padding: 0;
        margin-top:300px;
    }
    
    .our .titlepage h2 {
        color: #1e2426;
        margin-bottom: 30px;
        font-size: 50px;
    }
    
    .our .titlepage p {
        color: #222122;
        font-size: 17px;
        line-height: 30px;
        font-weight: 500;
        padding-bottom: 50px;
    }
    
    .our_text {
        padding: 0px 10px 0px 20px;
    }
    
    .our_img figure {
        margin: 0;
    }
    
    .our_img figure img {
        width: 100%;
        height: 100%;
        display: flex;
        margin:auto;
        
        
    }
    /*footer*/

    .footer {
        height: auto;
      }
    
      .footer .footer-content {
        height: auto;
        flex-direction: column;
      }
    
      .footer .footer-content .contact-form {
        padding-bottom: 90px;
      }
    
      .footer .footer-content .contact-form .contact-btn {
        width: 100%;
      }
}
 
