@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body{
	min-height: 100vh;
	background-size: cover;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, #757f9a, #d7dde8);
}
.contact-form-section{
	max-width:100%;
	min-height:100vh;
}


.contact-section
{
	width:100vh;
	margin:30vh auto;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	position: relative;
	backdrop-filter: blur(21px) saturate(100%);
    -webkit-backdrop-filter: blur(21px) saturate(175%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
	padding:50px

}
.contact-info
{
	color: rgb(0, 0, 0);
	max-width: 500px;
	line-height: 65px;
	padding-left: 50px;
	font-size: 18px;
}

.contact-info i{
	margin-right: 20px;
	font-size: 25px;
	
}

.contact-form
{
	max-width: 700px;
	margin-right: 50px;	
}


.contact-info,.contact-form
{
	flex: 1;
	
}

.contact-form h2
{
	color: rgb(0, 0, 0);
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.contact-form .text-box
{
	background-color: rgba(255, 255, 255, 0.06);
	color: rgb(0, 0, 0);
	border: solid 1px black;
	width: calc(50% - 10px);
	height: 50px;
	padding: 12px;
	font-size: 15px;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	opacity: 0.9;
}
.contact-form .text-box:first-child
{
	margin-right: 15px;
}

.contact-form textarea{
	background-color: rgba(255, 255, 255, 0.06);
	color: rgb(0, 0, 0);
	border: solid 1px black;
	width: 100%;
	padding: 12px;
	font-size: 15px;
	min-height: 100px;
	height: 150px;
	resize: vertical;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	opacity: 0.9;
}

.contact-form .submit-btn
{
	float: right;
	background: #2E94E3;
	color: rgb(255, 255, 255);
	border: none;
	width: 120px;
	height: 40px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	transition-property: background;
}

.contact-form .submit-btn:hover{
	background: #0582E3;
}
/*footer*/

.footersection{
	box-sizing: border-box;
}

.footer {
	background: #3f3f42ec;
	color: #d3d3d3;
	height: 400px;
	position: relative;
  }
  
  .footer .footer-content {
	height: 350px;
	display: flex;
  }
  
  .footer .footer-content .footer-section {
	flex: 1;
	padding: 25px;
  }
  
  .footer .footer-content h1,
  .footer .footer-content h2 {
	color: white;
  }
  
  .footer p{
  	
  	font-family: "Poppins", sans-serif;
  }

  .footer .footer-content .aboutf h1 span {
	color: #05f7ff;
  }
  
  .footer .footer-content .aboutf .contact span {
	display: block;
	font-size: 1.1em;
	margin-bottom: 8px;
  }
  
  .footer .footer-content .aboutf .socials a {
	border: 1px solid rgb(253, 249, 249);
	width: 45px;
	height: 41px;
	padding-top: 5px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	font-size: 1.3em;
	border-radius: 5px;
	transition: all .3s;
  }
  
  .footer .footer-content .aboutf .socials a:hover {
	border: 1px solid white;
	color: white;
	transition: all .3s;
  }
  
  .footer .footer-content .links ul a {
	display: block;
	margin-bottom: 10px;
	font-size: 1.2em;
	transition: all .3s;
	color: #d3d3d3;
  }
  
  .footer .footer-content .links ul a:hover {
	color: white;
	margin-left: 15px;
	transition: all .3s;
  }
  .footer .footer-section .contact-form .containerfooter1{
	
	box-sizing: content-box;
	height: 260px;
	width:250px;
	display:flex;
	

}
  .footer .footer-section .contact-form .contact-input  {
	background: #272727;
	color: #bebdbd;
	margin:10px;
	line-height: 1.5rem;
	padding: .9rem 1.4rem;
	border: none;
	float:left;
	align-items: center;
	border: solid rgb(148, 148, 148);
	position:relative;
	width: 100%;
  }
  
  .footer .footer-content .footer-section .contact-form .contact-input:focus {
	background: #1a1a1a;
  }
  .footer .footer-content .contact-form .contact-btn {
	float: left;
	font-size: 1.1em;
	font-family: 'Lora', serif;
	margin-left: 10px;
	
  }
  


  
  .footer .footer-bottom {
	background: #343a40;
	color: #ffffff;
	height: 30px;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-top: 10px;
  }
  a i{
	  color:rgb(255, 255, 255)
  }


  .footer h3{
	  font-size: 24px;
	  color: white;
  }


@media screen and (max-width: 850px)
{
	.contact-section
{
	width:100%;
	height:100%;
	align-items: center;
	justify-content: center;
	display: block;
	padding: auto;
	flex:wrap;
	flex-direction: column;
	margin: auto;
	box-sizing: border-box;
	position: relative;
	
}
.contact-info{
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	padding: auto;
	flex:wrap;
	flex-direction: row;
	margin: auto;
	box-sizing: border-box;
	position: relative;
	padding-left: 0%;
	
}
.socialmed{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	padding-left:auto;
	line-height: 65px;
	padding:10px;
	position: relative;
	
	
}
a{
	margin:auto;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
}
.contact-form
{
	align-items: center;
	justify-content: center;
	display: flex;
	text-align: center;
	margin:auto;
	flex-wrap: wrap;
	flex-direction: column;
	
}









	.footer {
        height: auto;
      }
    
      .footer .footer-content {
        height: auto;
        flex-direction: column;
      }
    
      .footer .footer-content .contact-form {
        padding-bottom: 90px;
      }
    
      .footer .footer-content .contact-form .contact-btn {
        width: 100%;
      }
      .footer .contact-input1 {
    
        
        width:100%;
        
     
     }
     .footer .contact-form textarea {
       
        width: 90%;
        
        
        
    }
}