@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'DM Serif Display', serif;
    font-weight: bolder;
    box-sizing: border-box;
    outline: none;
    color: rgb(0, 0, 0);
    

}
.cursor{
    z-index: 999;
    position: fixed;
    background: yellow;
    width: 20px;
    height: 20px;
    pointer-events: none;
    box-shadow: 0 0 20px yellow, 0 0 60px yellow, 0 0 100px yellow;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: 0.1s;
     animation: colors 5s infinite;

   
}
@keyframes colors{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.cursor:before{
    content: " ";
    position: absolute;
    background: yellow;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%,-30%);
    border-radius: 50%;
}

.header{
    height:140vh;
    min-height:100vh;
    width:100%;
    background-color: #e2e2e2;
    background-position:center;
    background-size:cover;
    position:absolute;
    background-position: center;
    background: linear-gradient(to bottom, #1d2b64, #f8cdda);
    background-image: brightness(0.2);
    

}
/********* FORM BOX *********/
.container{

    max-width: 80vh;
    width: auto;
    opacity: 0.6;
    background: #000;
    box-shadow: 0 0 8px rgba(250, 250, 250, 0.6);
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    top: 50px;
    height: 130vh;
    backdrop-filter: blur(21px) saturate(100%);
    -webkit-backdrop-filter: blur(21px) saturate(175%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    color:black;
    font-size:20px;



}
.container form{
    width: 100%;
    text-align: center;
    padding:100px;
    border-color: #00fff0;
    border-radius: 12px;
    margin: auto auto auto auto;
    height: 130vh;
    background: linear-gradient(to bottom, #1d2b64, #f8cdda);
}

form h1{
    padding: 10px, 0px;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 50px;
   font-family: 'Francois One', sans-serif;
   letter-spacing: 3.0px;
}
form .id{
    position: relative;

}
.id i{
    position: absolute;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    left: 380px;
    bottom: 20px;
    transition: translateY(-50%);
}

form input{
    width: 80%;
    height: 40px;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    font-size: 20px;
    padding-right: 50px;
    margin:5px 50px 10px 50px;
    backdrop-filter: blur(20px) saturate(0%);
    -webkit-backdrop-filter: blur(20px) saturate(0%);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);

}


form input:focus{
    border: 1px solid #0f0f0f;
    color: #ff0f39;
    background-color: white;
    transition: all 0.3s ease;


}
form input:focus::placeholder{
    padding-left: 4px;
     color: #ff0f39;
     background-color: white;
    transition: all 0.3s ease;
}
form input:focus + i{
     color: #ff0f39;
    transition: all 0.3s ease;
}
/******* STAR BOX ************/
.container1{
    width: 400px;
    
    box-shadow: 100px;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: auto auto auto auto;
    border-color: 5px solid white;
    backdrop-filter: blur(21px) saturate(100%);
    -webkit-backdrop-filter: blur(21px) saturate(175%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    background: linear-gradient(to top, #d9a7c7, #fffcdc); 

}
.container1 .post{
    display: none;
}
.container1 .text{
    font-size: 20px;
    color: #f5eadf;
    font-weight: 500px;

}
.container1 .edit{
    position: relative;
    left: 170px;
    bottom: 50px;
    font-size: 16px;
    color: #f5eadf;
    font-weight: 500px;
    cursor: pointer;


}
.container1 .star input{
    display: none;

}
.star label{
    font-size: 30px;
    color: #949494;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}
.star input:not(:checked) ~ label:hover,
.star input:not(:checked) ~ label:hover ~ label{
    color: #ff0f39 ;
}
.star input:checked ~ label{
    color: #ff0f39 ;
}
input#rate-5:checked ~ label{
    color: #ff0f39 ;
    text-shadow: 0 0 50px #966;
}
input#rate-4:checked ~ label{
    color: #ff0f39 ;
    text-shadow: 0 0 20px rgb(153, 102, 149);
}
input#rate-3:checked ~ label{
    color: #ff0f39 ;
    text-shadow: 0 0 20px #966;
}
input#rate-2:checked ~ label{
    color: #ff0f39 ;
    text-shadow: 0 0 20px #966;
}
input#rate-1:checked ~ label{
    color: #ff0f39;
    text-shadow: 0 0 20px #966;
}
#rate-1:checked ~ header:before{
    content: "I just hate it \01F620 ";
}
#rate-2:checked ~ header:before{
    content: "I don't like it \01F612 ";
}
#rate-3:checked ~ header:before{
    content: "It is awesome \01F604";
}
#rate-4:checked ~ header:before{
    content: "I just like it \01F60E ";
}
#rate-5:checked ~ header:before{
    content: "I really love it \01F60D ";
}
form button{
    margin-top: 10px;
    border: 1px solid rgb(241, 241, 241) ;
    color: #222;
    padding: 5px 0px;
    width: 50%;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 3.0px;
    font-size: 30px;
    font-weight: 800px;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    
}
.container1 form{
    display: none;

}
input:checked ~ form{
    display: block;
}



  
 @media(max-width:800px){
 
    .header{
        width: 100%;
        height: 100%;
    }
    .container form{
        height: 100%;
        width: 100%;
        padding: 10px;
    }
    .container .container1
          {
              border: 1px solid rgb(233, 247, 233);
              box-sizing: border-box;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: auto;
              left:0px;
              width:auto;
              height:auto;
              max-width: 400px;

          }
        h1{
            text-align: center;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        form input{
            display: flex;
            margin: 10px auto 10px auto;
        
            display: flex;
            align-items: center;
            justify-content: center;
        }
       
 }