@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.header p{

    font-size: 70px;
    padding-top: 250px;
    margin-bottom: 160px;
    text-align: center;
    color: rgb(240, 240, 240);
    font-family:'Josefin Sans', sans-serif;
    position: relative;
    z-index: 10;

}

.header{

    height:100vh;
    width:100%;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(33194.gif); 
    background-position:bottom;
    background-size:cover;
    font-family: 'Josefin Sans', sans-serif;
    color:white;
}
nav{
    display:flex;
    padding:2% 6%;
    justify-content:space-between;
    align-items: center;
}
nav img{
    width:150px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display:inline-block;
    padding:8px 12px;
    position:relative;

}
.nav-links ul li a {
    color:#fff;
    text-decoration: none;
    font-size:20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
}
.nav-links ul li a:hover {
    color: rgb(146, 140, 230);

}
.nav-links ul li .active {
    color: rgb(146, 140, 230);

}
.nav-links ul li a::after {
    content: '';
    display:block;
    width:0;
    height:2px;
    background: rgb(146, 140, 230);
    transition:width.3s;

}
.nav-links ul li a:hover::after {
    width:100%;
    transition: width.3s;
    

}
.text-box{
    width:90%;
    color:rgb(255, 255, 255);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    

}
.text-box h1{
    font-size: 60px;

}
.text-box p{
    margin: 10px 0 40px;
    font-size:14px;
    color:rgb(255, 255, 255);

}
nav .fa{
    display: none;
}



.wrapper{
    
   
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(boat.jpg);
    background-size:cover;

}
.wrapper h1{
    font-family: 'Allura', cursive;
    font-size: 100px;
    padding-top: 120px;
    margin-bottom: 60px;
    text-align: center;
    color: white;
    
}

.why{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}
.why .why_us{
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    color: #000000;
    position: relative;
}

.why .why_us h3{
    color: #81c644;
    font-size: 26px;
    margin-top: 50px;
    font-family: 'Josefin Sans', sans-serif;

}
p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}
.why .why_us .why_img
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.why .why_us .why_img img{
    width: 100px;
    height: 100px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    
    

}
.why_us:hover {
    background-color: rgb(62,62,62);
    color: white;
    cursor: pointer;
}
  
  *{
    margin: 0;
    padding: 0;
  }
  body{
    background: linear-gradient(to right, #757f9a, #d7dde8);
  
}*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.videocontent{
    width: 100%;
    height: 100%;
   
}
.videocontent h2{
    font-family: 'Allura', cursive;
        font-size: 100px;
        padding-top: 120px;
        margin-bottom: 60px;
        text-align: center;
        color: white;
    }
.textvideo {
    color: white;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    margin-top: 100px;
    font-size: 40px;
    text-align: center;
}
.container{
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .slider{
    position: absolute;
    margin: auto;
    width: 50%;
    height: 50%;
}


.container ul{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.container ul li{
    list-style: none;
    cursor: pointer;
    margin: 10px;
}


.container ul li video{
    width: 200px;
    transition: all 0.3s;
}
.container ul li video:hover{
    transform: scale(1.1);
}

video{
    width: 100%;
    height: 100%;
}
.footersection{
    box-sizing: border-box;
}

.footer {
    background: #3f3f42ec;
    color: #d3d3d3;
    height: 400px;
    position: relative;
    
  }
  .footer p{
    font-family: "Poppins", sans-serif;
  }
  
  .footer .footer-content {
    height: 350px;
    display: flex;
  }
  
  .footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
  }
  
  .footer .footer-content h1,
  .footer .footer-content h2 {
    color: white;
  }
  
  .footer .footer-content .aboutf h1 span {
    color: #05f7ff;
  }
  
  .footer .footer-content .aboutf .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
  }
  
  .footer .footer-content .aboutf .socials a {
    border: 1px solid rgb(253, 249, 249);
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
  }
  
  .footer .footer-content .aboutf .socials a:hover {
    border: 1px solid white;
    color: white;
    transition: all .3s;
  }
  
  .footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
    color: #d3d3d3;
  }
  
  .footer .footer-content .links ul a:hover {
    color: white;
    margin-left: 15px;
    transition: all .3s;
  }
  .footer .footer-section .contact-form .containerfooter1{
    
    box-sizing: content-box;
    height: 260px;
    width:250px;
    display:flex;
    

}
  .footer .footer-section .contact-form .contact-input  {
    background: #272727;
    color: #bebdbd;
    margin:10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    float:left;
    align-items: center;
    border: solid rgb(148, 148, 148);
    position:relative;
    width: 100%;
  }
  
  .footer .footer-content .footer-section .contact-form .contact-input:focus {
    background: #1a1a1a;
  }
  .footer .footer-content .contact-form .contact-btn {
    float: left;
    font-size: 1.1em;
    font-family: 'Lora', serif;
    margin-left: 10px;
    
  }
  


  
  .footer .footer-bottom {
    background: #343a40;
    color: #ffffff;
    height: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
  }
  a i{
      color:rgb(255, 255, 255)
  }


  .footer h3{
      font-size: 24px;
      color: white;
  }



@media (max-width:800px)
{
    .nav-links ul li a {

        font-size:15px;
       
    }

    .text-box{
        height: 100%;
        width:100%;
        margin:auto;
    
    }
    .header p{
        
        font-size: 40px;
        margin: auto;
        align-items: center;
        justify-content: center;
        padding-top:150px;
    }
    .wrapper 
    {
        height:100%;
        width: 100%;
        max-width: 100%;
    }
    .wrapper h1{
        font-size: 60px;
    }
    .why{
        width: 100%;
        height:100%;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
        align-items: center;

    }
    .textvideo {
        color: white;
        align-items: center;
        justify-content: center;
        position: relative;
        display: flex;
        margin-top: 50px;
        font-size: 22px;
        
    }
    .container{
    max-width: 100%;
    height:80vh;
    }
    .container .slider{
        position: absolute;
        margin: auto;
        width: 100%;
        height: 100%;
    }
    
    .container ul
    {
     
    height:30%;
    width:100%;
    flex-direction: row;   
    position: absolute;
    display: flex;

    
    }
    .container ul li video {
        width: 100px;
        height: 100px;
        transition: all 0.3s;
    }

    .footer {
        height: auto;
      }
    
      .footer .footer-content {
        height: auto;
        flex-direction: column;
      }
    
      .footer .footer-content .contact-form {
        padding-bottom: 90px;
      }
    
      .footer .footer-content .contact-form .contact-btn {
        width: 100%;
      }
      .footer .contact-input1 {
    
        
        width:100%;
        
     
     }
     .footer .contact-form textarea {
       
        width: 90%;
        
        
        
    }
     

    
}