/*Umie Syahirah--style for content.html*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#text{
	text-align: center;
	background-color: white;
}
.header{
    position: relative;
    min-height:100vh;
    width:100%;
    background-image:url(lobster.gif);
    background-position:center;
    background-size:cover;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 5px;
    
    

}

nav{
    display:flex;
    padding:2% 6%;
    justify-content:space-between;
    align-items: center;
}
.logo{
    size: 50%;
}
nav img{
    width:50%;
}
.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display:inline-block;
    padding:8px 12px;
    position:relative,fixed;

}
.nav-links ul li a {
        color:#fff;
        text-decoration: none;
        font-size:20px;
        font-weight:bold;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-links ul li a:hover {
    color: rgb(146, 140, 230);

}
.nav-links ul li .active {
    color: rgb(146, 140, 230);

}
.nav-links ul li a::after {
    content: '';
    display:block;
    width:0;
    height:2px;
    background: rgb(146, 140, 230);
    transition:width.3s;

}
.nav-links ul li a:hover::after {
    width:100%;
    transition: width.3s;
    
}

.wrapper{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #360033, #0b8793);
    background-position: center;
    background-size: cover;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 5px;

}

.wrapper2{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #360033, #0b8793);

    /*background:linear-gradient(to right, #757f9a, #d7dde8); *//*#E2E5DE;*/
    background-position: center;
    background-size: cover;
    border-bottom-style: solid;
    border-bottom-color:black;
    border-bottom-width: 5px;
}
.wrapper .text1{
    position: relative;
    margin: auto;
    justify-content: center;
    text-align: center;
    width:100%;
    height: 80px;
    padding: 100px;

}
.text1 h1{
    font-size: 50px;
    color: white;
}

.text1 p{
    font-size: 20px;
    color: white;
}

.wrapper2 .text2{
    position: relative;
    margin: auto;
    justify-content: center;
    text-align: center;
    width:100%;
    height: 80px;
    padding: 100px;
}

.text2 h1{
    font-size: 50px;
    color: white;
}

.text2 p{
    font-size: 20px;
    color: white;
}



.containerwrapper{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
    
    
}
.container
{
    margin: auto;
    position: relative;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    height: 420px;
    flex-direction: row;
    box-sizing: border-box;
    
    
}
.container .card
{
    max-width: 300px;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: inline-block;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}

.container .card:hover
{
    height: 400px;
}

.container .card .imgBx
{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.container .card .imgBx img
{
    max-width: 100%;
    border-radius: 4px;
}

.container .card .content
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

}

.container .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.container .content p
{
    font-family: Apple Chancery, cursive;
}

.container .content h2
{
    font-family: Chalkduster, fantasy;
}

.box
{
    width: 100%;
    height: 110vh;
    background-position: center;
    background-size: 50%;
    justify-content: center;
    padding: 20px;
   background: linear-gradient(to right, #360033, #0b8793);    /*#B2BEB5;*/
}

.box .title
{
    text-align: center;
    padding: 20px;
    margin-top:50px;
}
.box .tablecontent
{
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
}

.tablecontent table {
    position: relative;
    border-collapse: collapse;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 400px;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    background-color:#F5F5F5;
    }
    
tr {
    transition: all .2s ease-in;
    cursor: pointer;
    font-size: 20px;
}
    
th,td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
#header {
    background-color: #F5F5F5;
    color: black;
}
    
.title h1{
    font-size: 30px;
    color: white;
}    
tr:hover {
        background-color:rgba(189, 125, 202, 0.7);
        transform: scale(1.02);
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    }
    
    @media only screen and (max-width: 768px) {
        table {
            width: 90%;
        }
    }
.textarea {
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    font-size: 20px;
    color: white;
    border-top-style:solid;
    opacity: 1;
    text-align: center;
    margin-top:30px;
    }




    .footersection{
        box-sizing: border-box;
    }
    
    .footer {
        background: #3f3f42ec;
        color: #d3d3d3;
        height: 400px;
        position: relative;
      }
      
      .footer .footer-content {
        height: 350px;
        display: flex;
      }
      
      .footer .footer-content .footer-section {
        flex: 1;
        padding: 25px;
      }
      
      .footer .footer-content h1,
      .footer .footer-content h2 {
        color: white;
      }

      .footer p{
        font-family:"Poppins", sans-serif;
      }
      
      /*.footer-section links a{
        font-family:"Poppins", sans-serif;
      }*/


      .footer .footer-content .aboutf h1 span {
        color: #05f7ff;
      }
      
      .footer .footer-content .aboutf .contact span {
        display: block;
        font-size: 1.1em;
        margin-bottom: 8px;
      }
      
      .footer .footer-content .aboutf .socials a {
        border: 1px solid rgb(253, 249, 249);
        width: 45px;
        height: 41px;
        padding-top: 5px;
        margin-right: 5px;
        text-align: center;
        display: inline-block;
        font-size: 1.3em;
        border-radius: 5px;
        transition: all .3s;
      }
      
      .footer .footer-content .aboutf .socials a:hover {
        border: 1px solid white;
        color: white;
        transition: all .3s;
      }
      
      .footer .footer-content .links ul a {
        display: block;
        margin-bottom: 10px;
        font-size: 1.2em;
        transition: all .3s;
        color: #d3d3d3;
      }
      
      .footer .footer-content .links ul a:hover {
        color: white;
        margin-left: 15px;
        transition: all .3s;
      }
      .footer .footer-section .contact-form .containerfooter1{
        
        box-sizing: content-box;
        height: 260px;
        width:250px;
        display:flex;
        
    
    }
      .footer .footer-section .contact-form .contact-input  {
        background: #272727;
        color: #bebdbd;
        margin:10px;
        line-height: 1.5rem;
        padding: .9rem 1.4rem;
        border: none;
        float:left;
        align-items: center;
        border: solid rgb(148, 148, 148);
        position:relative;
        width: 100%;
      }
      
      .footer .footer-content .footer-section .contact-form .contact-input:focus {
        background: #1a1a1a;
      }
      .footer .footer-content .contact-form .contact-btn {
        float: left;
        font-size: 1.1em;
        font-family: 'Lora', serif;
        margin-left: 10px;
        
      }
      
    
    
      
      .footer .footer-bottom {
        background: #343a40;
        color: #ffffff;
        height: 30px;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding-top: 10px;
      }
      a i{
          color:rgb(255, 255, 255)
      }
    
    
      .footer h3{
          font-size: 24px;
          color: white;
      }
    
    

@media screen and (max-width: 850px)
{
    .text1 {
        
        
        position: relative;
        box-sizing: border-box;
        display:inline-block;
        margin:auto;
        width: 100%;
        height: 100%;
        
        
        
    }
    .text2 {
        
        
        position: relative;
        box-sizing: border-box;
        display:inline-block;
        margin:auto;
        width: 100%;
        height: 100%;
        
        
        
    }
    .containerwrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 100px;
        box-sizing: border-box;
        align-items: center;
        position: relative;
        
    }
    .container
    {
        margin: auto;
        position: relative;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
        height: 420px;
        flex-direction: row;
        box-sizing: border-box;
        
        
    }
    .container .card
    {
        max-width: 300px;
        max-width: 300px;
        height: 215px;
        background: #fff;
        margin: 30px 10px;
        padding: 20px 15px;
        display: inline-block;
        flex-direction: column;
        box-shadow: 0 5px 20px rgba(0,0,0,0.5);
        transition: 0.3s ease-in-out;
    }
    

    /*footer*/
    .footer {
        height: auto;
      }
    
      .footer .footer-content {
        height: auto;
        flex-direction: column;
      }
    
      .footer .footer-content .contact-form {
        padding-bottom: 90px;
      }
    
      .footer .footer-content .contact-form .contact-btn {
        width: 100%;
      }

      .containerwrapper{
          height:auto;
          width:auto;
      }
      
      .box .title
    {
        margin:auto;
    }


      .box{
          height:100%;
          width: 100%;
      }
      /*table */
      .tablecontent table {
        height:100%;
        width:100%;
        margin:auto;
        align-items: center;
        justify-content: center;
        }
        
        .textarea {
            
            width:100%;
            font-size: 20px;
            
            }
    }