@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Sriracha', cursive;
}
body{
    background: linear-gradient(to right, #360033, #0b8793);
    
}


.header{

    min-height:100vh;
    width:100%;
    
    background-position:center;
    background-size:cover;
    position:relative;
    


}
nav{
    display:flex;
    padding:2% 6%;
    justify-content:space-between;
    align-items: center;

    
    
    

}

.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display:inline-block;
    padding:8px 12px;
    position:relative;

}
.nav-links ul li a {
    color:#fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.nav-links ul li a:hover {
    color: rgb(146, 140, 230);
    

}
.nav-links ul li .active {
    color: rgb(146, 140, 230);
    

}
.nav-links ul li a::after {
    content: '';
    display:block;
    width:0;
    height:2px;
    background: rgb(146, 140, 230);
    transition:width.3s;

}
.nav-links ul li a:hover::after {
    width:100%;
    transition: width.3s;
    

}
nav .fa{
    display: none;
}

.text-box{
    width:100%;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;

}

/******  WHAT IS LOBSTER *****/
.text-box h1{

    font-family: 'Aclonica', sans-serif;
    font-size: 90px;
    text-decoration: underline;
    background: linear-gradient(to right,#C7C7C7,#E5E4E4,#FFFFFF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;


}
.text-box p{
    font-family: 'IM Fell DW Pica SC', serif;
    margin: auto 400px 200px auto;
    font-size:30px;
    color:rgb(241, 240, 236);
    width: 100vh;

}

/****** VIDEO ******/
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; 
  width: auto;
  height: auto;

  filter: brightness(50%);
}

/****** LOBSTER ******/
.next{

    height: 50vh;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 150vh;
    color: #000;
    
    
}
.next p  {
color: floralwhite;

}
.next h1{
    
    font-family: 'Suez One', serif;
    letter-spacing: 3.0px;
    text-align: center;
    justify-content: center;

    font-weight: 700px;
    line-height: 1em;   
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 80px;
    text-transform: uppercase;
    display: block;
    
    margin-top: 100px;
    background: white;
    position: relative;
    animation: text 1.5s 1;
    background: linear-gradient(to right, #d3cce3, #e9e4f0);
}
.next p{
    text-align: center;
    font-weight: 500px;
    line-height: 1em; 
    bottom: 200px; 
    padding: 20px 80px;
    margin-top: 30px;
    font-size: 20px;

}

/****** WARM/COLD WATER LOBSTER ******/
.next1{
    height: 50vh;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 150vh;
    color: #000;
    
}
.next1 p  {
color: floralwhite;
}
.next1 h1{
   
    font-family: 'Suez One', serif;
    letter-spacing: 3.0px;
    text-align: center;
    justify-content: center;

    font-weight: 700px;
    line-height: 1em;   
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 80px;
    text-transform: uppercase;
    display: block;
    
    margin-top: 100px;
    background: white;
    position: relative;
    animation: text 1.5s 1;
    background: linear-gradient(to right, #d3cce3, #e9e4f0);
}
.next1 p{
    
    text-align: center;
    font-weight: 500px;
    line-height: 1em; 
    bottom: 200px; 
    padding: 20px 80px;
    margin-top: 30px;
    padding-bottom: 180px;
    font-size: 20px;
}
@keyframes text{
    0%{
        color: black;
        margin-bottom: -150px;
    }
    30%{
        letter-spacing: 15px;
         margin-bottom: -150px;
    }
    85%{
        letter-spacing: 8px;
         margin-bottom: -150px;
    }
}
.container-lob{
    padding-top: 100px;
   
}   

/*********** LOBSTER PICTURE ********/

.forda{
    
     height: 50vh;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 200px;
    width: 150vh;
    max-width: 100%;
      backdrop-filter: blur(23px) saturate(53%);
    -webkit-backdrop-filter: blur(23px) saturate(53%);
    background-color: rgba(17, 25, 40, 0.62);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    -webkit-background-clip: card;  
   
}

 
.card{
    position: relative;
    width: 400px;
    height: 300px;
    background-color: #e3f9f8;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.25);
    transition: 1s;

}

.card:hover{
    transform: translateX(50%);
}
.card .imgBox{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
    transition: 1s;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.25);
}
.card:hover .imgBox{
    transform: rotateY(-180deg);
    
}
.card .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform-style: preserve-3d;
}


.card .details{
    position: absolute;
    top: 0px;
    left: 30px;
    bottom: 0px;
    width: 300px;
    height: 250px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .details .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card .details .content h1{
    font-family: 'Cinzel Decorative', cursive;
}
.card .details .content p{
    font-family: 'Delius', cursive;
    font-weight: bolder;
}



/******* TABLE OF LOBSTER *******/
table{
    padding-top: 100px;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    border: 10px solid black;
    color: floralwhite;

}
h2{
    text-align: center;
    font-size: 50px;
    font-family: 'Suez One', serif;
    letter-spacing: 3.0px;
    color: floralwhite;

}
.container-lob p{
    text-align: center;
    font-size: 20px;
    
    color: floralwhite;
}
th,td{
    font-size: 20px;
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    padding: 15px;
    border: 5px solid black;

}

th{
    background: linear-gradient(to bottom, #141e30, #243b55);
    color: floralwhite;
    
}
tr:nth-child(even):hover{
   background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
   
    
}

tr:nth-child(odd):hover{
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  
}

/*footer*/
.footersection{
    box-sizing: border-box;
}

.footer {
    background: #3f3f42ec;
    color: #d3d3d3;
    height: 400px;
    position: relative;
  }
  
  .footer .footer-content {
    height: 350px;
    display: flex;
  }
  
  .footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
  }
  
  .footer .footer-content h1,
  .footer .footer-content h2 {
    color: white;
  }
  
  .footer .footer-content .aboutf h1 span {
    color: #05f7ff;
  }
  
  .footer .footer-content .aboutf .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
  }
  
  .footer .footer-content .aboutf .socials a {
    border: 1px solid rgb(253, 249, 249);
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
  }
  
  .footer .footer-content .aboutf .socials a:hover {
    border: 1px solid white;
    color: white;
    transition: all .3s;
  }
  
  .footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
    color: #d3d3d3;
  }
  
  .footer .footer-content .links ul a:hover {
    color: white;
    margin-left: 15px;
    transition: all .3s;
  }
  .footer .footer-section .contact-form .containerfooter1{
    
    box-sizing: content-box;
    height: 260px;
    width:250px;
    display:flex;
    

}
  .footer .footer-section .contact-form .contact-input  {
    background: #272727;
    color: #bebdbd;
    margin:10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    float:left;
    align-items: center;
    border: solid rgb(148, 148, 148);
    position:relative;
    width: 100%;
  }
  
  .footer .footer-content .footer-section .contact-form .contact-input:focus {
    background: #1a1a1a;
  }
  .footer .footer-content .contact-form .contact-btn {
    float: left;
    font-size: 1.1em;
    font-family: 'Lora', serif;
    margin-left: 10px;
    
  }
  


  
  .footer .footer-bottom {
    background: #343a40;
    color: #ffffff;
    height: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
  }
  a i{
      color:rgb(255, 255, 255)
  }


  .footer h3{
      font-size: 24px;
      color: white;
  }


@media(max-width:800px){
   
    .text-box h1{
        position: relative;
        width:auto;
        height:auto;
        margin-top: 200px;
        
    
    }
    .text-box p{
        font-family: 'IM Fell DW Pica SC', serif;
        margin: auto 400px 200px auto;
        font-size:30px;
        color:rgb(241, 240, 236);
        width: 100%;
    
    }
    .next{

        height: 100%;
        width: 100%;
        text-align:center;
    }
    .next h1{
        font-size:60px;
    }
    .next p{
        margin:auto;
        padding: 40px;
    }
    
    
    .next1{
        height: 100%;
        width: 100%;
        
        
    }
    .next1 h1{
        font-size:60px;
    }
    .next1 p{
        margin:auto;
        padding: 40px;
    }
    .forda{
    
       height: 100%;
       width: 100%;
       justify-content: center;
       align-items: center;
       margin: auto;
        
      
   }
   table{
    padding: 100px;
    margin: auto;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: relative;
    }
    th,td{
        display:flex;
        
    
    }
    li{
        
    margin:auto;
    height: auto;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    margin-left: 2px;
    
    }

    .footer {
        height: auto;
      }
    
      .footer .footer-content {
        height: auto;
        flex-direction: column;
      }
    
      .footer .footer-content .contact-form {
        padding-bottom: 90px;
      }
    
      .footer .footer-content .contact-form .contact-btn {
        width: 100%;
      }
      .footer .contact-input1 {
    
        
        width:100%;
        
     
     }
     .footer .contact-form textarea {
       
        width: 90%;
        
        
        
    }
     

    
}